.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.top-icon {
  font-size: 2em;
}

.center-icon {
  align-self: center;
  font-size: 3em;
}

.bottom-icon {
  align-self: flex-end;
  font-size: 2em;
}